body {
  background-color: #E7DA8C;
  width: 100%;
  overflow-x: hidden;
}

.about-the-show-paragraph {
  font-family: 'Source Sans Pro', sans-serif;
}

.doodle-background {
  position: absolute;
}

.homepage-position {
  position: absolute;
  padding-top: 150px;
  z-index: 10;
  width: 100%;
}

.merchandise-position {
  margin-top: 1700px;
  position: absolute;
  padding-top: 150px;
  z-index: 10;
  width: 100%;
}

.performances-position {
  margin-top: 2000px;
  position: absolute;
  padding-top: 150px;
  z-index: 10;
  width: 100%;
}

.discography-position {
  margin-top: 2900px;
  position: absolute;
  padding-top: 150px;
  z-index: 10;
  width: 100%;
}

.homepage-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {

  .homepage-logo {
    width: 600px;
    height: 600px;
  }

}

@media (min-width: 1500px) {

  .homepage-logo {
    width: 800px;
    height: 800px;
  }

}

@media (max-width: 1260px) {

  .homepage-logo {
    width: 450px;
    height: 450px;
  }

}

@media (min-width: 1260px) {

  .homepage-logo {
    width: 600px;
    height: 600px;
  }

  .may-table {
    margin-bottom: 0px;
  }
}

@media (max-width: 1475px) {

  .may-table {
    margin-bottom: 50px;
  }
}

.homepage-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.performances-title {
  display: flexbox;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.performances-title h3 {
  text-align: center;
}

.homepage-box-container {
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  background-color: rgba(165, 124, 0, 0.6);
  margin-left: 20px;
  margin-right: 20px;
}

.album-container {
  margin-bottom: 20px;
}

.album-box-container {
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  background-color: rgba(165, 124, 0, 0.6);
  margin-left: 20px;
  margin-right: 20px;
}

.merchandise-box-container {
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  background-color: rgba(165, 124, 0, 0.6);
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.performances-box-container {
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(165, 124, 0, 0.6);
}

.performances {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

table,
tr,
td,
th {
  font-size: 15px;
  border: #0c0c0c solid 3px;
}

table {
  height: 100px;
  border: #0c0c0c solid 3px;
  border-radius: 20px;
}

.week th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.month th {
  font-size: 30px;
}

.merch-item-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.merch-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch-img {
  width: 200px;
  height: 200px;
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.merch-description {
  margin-top: -17px;
  font-size: 12px;
}

.merch {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.merch-row {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.about-the-show-box-container {
  text-align: center;
  font-weight: 400;
}

.about-the-show {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.cast-box-container {
  padding-left: 10px;
  padding-right: 10px;
}

.cast {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.cast-member-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.cast-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cast-img-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.cast-img {
  width: 72px;
  height: 96px;
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.cast-character {
  margin-top: -17px;
}

#logo img {
  width: 70px;
  height: 69.96px;
}

#logo {
  background-color: #bda729;
  border: #0c0c0c outset 2px;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .doodle-background {
    display: none;
  }

  .homepage-position {
    position: absolute;
    z-index: 0;
    width: 100%;
  }
}

.navbar-toggler {
  background-color: #bda729;
  margin-top: 10px;
}

.navbar-toggler-icon {
  width: 60px;
  height: 60px;
}

@media (min-width: 992px) {
  .cast-img {
    width: 51.4px;
    height: 68.6px;
    border: #0c0c0c solid 2px;
  }

  .merchandise-position {
    margin-top: 700px;
  }

  .flexbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cast-member-container p {
    font-size: 10px;
    line-height: 15px;
    text-align: center;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 1000px) {

  #logo {
    background-color: #bda729;
    border: #0c0c0c outset 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .cast-box-container {
    margin-top: 75px;
  }

  body {
    background-image: url("Photos/hamiltonbackground.png");
    background-repeat: no-repeat;
    background-size: width(100%) height(8000px);
  }

  .container-fluid {
    padding-left: 0px;
  }

  #logo {
    margin-left: 5px;
  }

  .performances-position {
    margin-top: 3000px;
    position: absolute;
    padding-top: 150px;
    z-index: 10;
    width: 100%;
  }

  .discography-position {
    margin-top: 3900px;
    position: absolute;
    padding-top: 150px;
    z-index: 10;
    width: 100%;
  }

  .cast-member-container p {
    font-size: 12.5px;
    line-height: 15px;
    text-align: center;
  }

  .merch-img {
    width: 100px;
    height: 100px;
    border: #0c0c0c solid 2px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
  }

  .about-the-show-box-container {
    margin-bottom: 75px;
    margin-top: 60px;
  }
}

@media (max-width: 870px) {
  #logo {
    margin-right: ;
    background-color: #bda729;
    border: #0c0c0c outset 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 870px) {
  #logo {
    background-color: #bda729;
    border: #0c0c0c outset 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav {
    width: max(1600px, calc(70% + 100px));
    margin-left: 10%;
  }

  .heading-size-change {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  #navbar-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  #logo {
    margin-top: 10px;
  }

  table,
  tr,
  td,
  th {
    border: #0c0c0c solid 3px;
  }

  td {
    font-size: 10px;
    font-weight: 700;
  }

  table {
    height: 100px;
    border: #0c0c0c solid 3px;
    border-radius: 20px;
  }

  .week th {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 8.5px;
  }

  .month th {
    font-size: 15px;
  }


}

.topnav {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 10px;
  justify-content: flex-end;
}

.topnav a {
  float: left;
  color: #0c0c0c;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 20px;
  display: block;
}

.skeuomorphic-buttons-navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  background-color: #a57c00;
  outline-offset: 1px;
  border: 3px inset #bda729;
  margin-top: 10px;
}

.skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: 700;
}

.skeuomorphic-buttons:hover {
  cursor: pointer;
  text-decoration: underline #bda729;
}

.skeuomorphic-buttons-navbar:active {
  background-color: #bda729;
  color: #0c0c0c;
  border: 3px outset #0c0c0c;
  text-decoration: underline #0c0c0c;
}

.topnav {
  background-color: #e9d667;
  border: #bda729 solid 2px;
}