body {
  background-color: #E7DA8C;
}

.about-the-show-paragraph {
  font-family: 'Source Sans Pro', sans-serif;
}

.doodle-background {
  position: absoulte;
}

.homepage-position {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.homepage-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1500px) {

  .homepage-logo {
    width: 600px;
    height: 600px;
  }

}

@media (min-width: 1500px) {

  .homepage-logo {
    width: 800px;
    height: 800px;
  }

}

@media (max-width: 1125px) {

  .homepage-logo {
    width: 450px;
    height: 450px;
  }

}

@media (min-width: 1125px) {

  .homepage-logo {
    width: 600px;
    height: 600px;
  }

}

.homepage-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.homepage-box-container {
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  background-color: rgba(165, 124, 0, 0.6);
  margin-left: 20px;
  margin-right: 20px;
}

.about-the-show-box-container {
  margin-top: 150px;
  text-align: center;
  font-weight: 400;
}

.about-the-show {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.cast-box-container {
  padding-left: 10px;
  padding-right: 10px;
}

.cast {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.cast-member-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.cast-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cast-img-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

.cast-img {
  width: 72px;
  height: 96px;
  border: #0c0c0c solid 2px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}

.cast-member-container p {
  font-size: 12.5px;
  line-height: 15px;
  text-align: center;
}

.cast-character {
  margin-top: -17px;
}

#logo img {
  width: 90px;
  height: 89.96px;
}

#logo-container {
  background-color: #bda729;
  border: #0c0c0c outset 2px;
  border-radius: 20px;
  width: 120px;
  height: 112px;
}

.topnav-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .cast-img {
    width: 51.4px;
    height: 68.6px;
    border: #0c0c0c solid 2px;
    border-radius: 10px;
  }

}

@media (max-width: 1000px) {

  #logo img {
    width: 60px;
    height: 60px;
  }

  #logo-container {
    background-color: #bda729;
    border: #0c0c0c outset 2px;
    border-radius: 15px;
    width: 80px;
    height: 74.6px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .cast-box-container {
    margin-top: 75px;
  }

  .about-the-show-box-container {
    margin-bottom: 75px;
    margin-top: 60px;
  }
}

@media (max-width: 800px) {
  .topnav-container {
    width: 100%;
  }

  .heading-size-change {
    font-size: 12px;
  }

  #logo img {
    width: 45px;
    height: 45px;
  }

  #logo-container {
    margin-right: 2%;
    background-color: #bda729;
    border: #0c0c0c outset 2px;
    border-radius: 12px;
    width: 60px;
    height: 56px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media (min-width: 800px) {

  #logo img {
    width: 60px;
    height: 60px;
  }

  #logo-container {
    margin-right: 5%;
    background-color: #bda729;
    border: #0c0c0c outset 2px;
    border-radius: 20px;
    width: 80px;
    height: 74.6px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading-size-change {
    font-size: 20px;
  }

  .topnav {
    justify-content: center;
    width: 80%;
  }

  .topnav-container {
    justify-content: flex-start;
  }
}

.topnav {
  overflow: hidden;
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 40px;
  width: 100%;
  top: 0;
  margin-top: 10px;

}

.topnav a {
  float: left;
  color: #0c0c0c;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 20px;
  display: block;
}

.skeuomorphic-buttons-navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  background-color: #a57c00;
  outline-offset: 1px;
  border: 3px inset #bda729;
  margin-top: 10px;
}

.skeuomorphic-buttons-navbar a.skeuomorphic-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: 700;
}

.skeuomorphic-buttons:hover {
  cursor: pointer;
  text-decoration: underline #bda729;
}

.skeuomorphic-buttons-navbar:active {
  background-color: #bda729;
  color: #0c0c0c;
  border: 3px outset #0c0c0c;
  text-decoration: underline #0c0c0c;
}

.container-xl {
  border-radius: 20px;
  margin-top: 10px;
  background-color: #e9d667;
  border: #bda729 ridge 10px;
}

.top-row {
  margin-top: 25px;
  margin-bottom: 80px;
  background-color: #0c0c0c;
  font-size: 70px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}